<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooManager.Properties.Settings.panjutorialDBConnectionString"
            connectionString="Data Source=DESKTOP-F63AU8D\PANUTIRIALSSQL;Initial Catalog=panjutorialDB;Persist Security Info=True;User ID=sa;Password=charli123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>